.button {
  font-size: 1rem;
  border: none;
  background: none;
  letter-spacing: 1px;
  text-align: right;
}

.button--active {
  color: var(--blue-500);
  font-family: "roboto-medium";
}

.button--disable {
  color: var(--blue-200);
}

.button-regular {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 1.25rem;
  background-color: var(--blue-500);
  font-family: "roboto-regular";
  color: var(--white);
}

.button-outline {
  display: flex;
  justify-content: center;
  width: 80%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--blue-500);
  font-family: "roboto-regular";
  color: var(--blue-500);
}
