.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}

.modal.is--open {
  display: flex;
}

.modal-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  /* height: 168px; */
  overflow-y: auto;
  background-color: white;
}

.modal-container--new-task-movil {
  min-height: 168px;
  max-height: 400px;
  margin-bottom: 1rem;
}

.modal-input {
  height: 24px;
  width: 100%;
  margin-block: 2px;
  padding-block: 10px;
  font-family: "roboto-regular";
  font-size: 1rem;
  border: none;
}

.modal-input:focus {
  outline: none;
}

.--flex {
  display: flex;
  align-items: flex-end;
}

.modal-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  margin: 0.8rem 0 1.1rem;
  /* outline: solid olive; */
}
