.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.is--open {
  display: flex;
}

.modal-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem 0;
  overflow-y: auto;
  background-color: white;
}

.modal-task__new-task {
  min-height: 168px;
  max-height: 500px;
  padding-bottom: 3.5rem;
}

.modal-task__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
}

.modal__options {
  height: 7rem;
  padding-bottom: 1rem;
}
