.title-signUp {
  margin-top: 1rem;
  color: var(--blue-500);
}

.form-signUp {
  margin: 1rem;
}

.margin {
  padding-top: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
}
