.task-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
  padding: 0.5rem;
}

.container-task {
  display: flex;
  justify-content: space-between;
}

.--hide {
  display: none;
}

.container-task-completed {
  display: flex;
  justify-content: space-between;
}

.task-content {
  display: flex;
  flex-direction: column;
  /* min-width: 240px; */
}

@media (min-width: 599px) {
  .task-container:hover {
    background-color: var(--blue-200);
  }
}
