/*
Outside In
1. Composición (position, float, clear, display)
2. Modelo de caja (width, height, margin, padding)
3. Propiedades visuales (color, background, border, box-shadow)
4. Tipografía (font-size, font-family, text-align, text-transform)
5. Miscelánea (cursor, overflow, z-index)
*/
:root {
  --white: #fff;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-800: #424242;
  --gray-900: #212121;
  --blue-200: #dbe6fd;
  --blue-500: #47597e;
  --blue-900: #293b5f;
}

@font-face {
  font-family: "roboto-light";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "roboto-regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "roboto-light";
  color: var(--gray-800);
}

a {
  text-decoration: none;
  color: var(--gray-500);
}

.container {
  margin: 1rem 1rem 5.5rem;
}

.button {
  font-size: 1rem;
  border: none;
  background: none;
  letter-spacing: 1px;
  text-align: right;
}

.button--active {
  color: var(--blue-500);
  font-family: "roboto-medium";
}

.button--disable {
  color: var(--blue-200);
}

.icon {
  margin-right: 1rem;
  color: var(--blue-500);
}
.--gray {
  color: var(--gray-500);
}

.--gray-dark {
  color: var(--gray-800);
}

.--blue {
  color: var(--blue-500);
}

.--pointer {
  cursor: pointer;
}

.--bottom {
  position: fixed;
  bottom: 16px;
  right: 100px;
  transform: translateX(100px);
  margin-right: 16px;
}

.--small {
  margin-block: 0;
  font-family: "roboto-regular";
  font-size: 0.9rem;
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.title-completed {
  font-family: "roboto-medium";
  font-weight: 500;
  color: var(--gray-900);
  margin-bottom: 1.5rem;
}

textarea:disabled {
  background-color: var(--white);
  color: var(--gray-500);
}

textarea:disabled.task-title--text-decoration {
  color: var(--gray-600);
}
