/* -------------------------- */
/* $TYPOGRAPHY */
/* -------------------------- */
@font-face {
  font-family: "roboto-light";
  src: url("../assets/fonts/roboto-light.woff2") format("woff2"),
    url("../assets/fonts/roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto-regular";
  src: url("../assets/fonts/roboto-regular.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("../assets/fonts/roboto-medium.woff2") format("woff2"),
    url("../assets/fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* -------------------------- */
/* $VARIEBALES */
/* -------------------------- */

:root {
  --white: #fff;
  --gray-300: #e0e0e0;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-800: #424242;
  --gray-900: #212121;
  --gray-text: #5f6368;
  --blue-200: #dbe6fd;
  --blue-500: #47597e;
  --blue-900: #293b5f;
  --red-500: #d93025;

  --black-trans-02: rgba(0, 0, 0, 0.2);
  --black-trans-04: rgba(0, 0, 0, 0.4);
  --blue-trans-04: rgba(219, 230, 253, 0.4);
  --white-trans-04: rgba(255, 255, 255, 0.4);

  --roboto-light: "roboto-light", sans-serif;
  --roboto-regular: "roboto-regular", sans-serif;
  --roboto-medium: "roboto-medium", sans-serif;
}

/* -------------------------- */
/* $RESET */
/* -------------------------- */

html {
  box-sizing: border-box;
  font-family: var(--roboto-light);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--white);
  color: var(--gray-900);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--gray-500);
}

h1 {
  font-size: 1.5rem;
  color: var(--gray-900);
}

h2 {
  font-size: 1.25rem;
  color: var(--gray-900);
}

p,
a,
li {
  font-family: var(--roboto-regular);
  font-size: 1rem;
  color: var(--gray-900);
  text-align: left;
}

small {
  font-size: 0.9rem;
  color: var(--gray-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  border: 0.5px solid var(--black-trans-02);
}

img,
svg,
picture {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: var(--roboto-regular);
  font-size: 1rem;
  border: none;
  background: none;
  letter-spacing: 1px;
}

button,
a,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

*[disabled] {
  cursor: default;
  color: var(--gray-300);
  background-color: #ddd;
}

textarea {
  resize: none;
}

textarea:disabled {
  color: var(--gray-300);
  background-color: var(--white);
}

textarea::placeholder {
  color: var(--gray-300);
}

textarea[class~="--text-decoration"] {
  color: var(--gray-500);
}

input:focus,
textarea:focus {
  outline: none;
}

::selection {
  color: var(--white);
  background-color: var(--blue-500);
}

span[class~="--cursor-default"] {
  cursor: default;
}

/* -------------------------- */
/* $COLORS */
/* -------------------------- */

.--blue_500 {
  color: var(--blue-500);
  /* text-align: center; */
}

.--gray_500 {
  color: var(--gray-500);
}

.--gray_300 {
  color: var(--gray-300);
}

.--gray_text {
  color: var(--gray-text);
}

.--red_500 {
  color: var(--red-500);
}

/* -------------------------- */
/* $Font style */
/* -------------------------- */
.font-regular {
  font-family: var(--roboto-regular);
}

.--center-text {
  text-align: center;
}

.--text-decoration {
  text-decoration-line: line-through;
}

.h2 {
  font-size: 1.25rem;
}

.small {
  font-size: 0.9rem;
}

.normal-text {
  font-size: 1rem;
  text-align: left;
}

/* -------------------------- */
/* $LAYOUTS */
/* -------------------------- */

.container {
  display: block;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  text-align: center;
}

.item {
  display: block;
  padding: 1rem;
}

.block {
  display: block;
}

.align-center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-left-column-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.align-left-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

.align-spaceBetween-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right-box {
  display: flex;
  justify-content: right;
  align-items: center;
}

.block-box,
.row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row-box {
  flex-direction: column;
}

.w-08 {
  width: 80%;
}

.w-1 {
  width: 100%;
}

.--hide {
  display: none;
}

/* -------------------------- */
/* $SPACING */
/* -------------------------- */
.p-0_5 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.py-0_3 {
  padding-block: 0.3rem;
}

.py-0_7 {
  padding-block: 0.7rem;
}

.py-1 {
  padding-block: 1rem;
}

.px-1 {
  padding-inline: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-0_25 {
  padding-left: 0.25rem;
}

.pl-1 {
  padding-left: 1rem;
}

.my-1 {
  margin-block: 1rem;
}

.mt-0_3 {
  margin-top: 0.3rem;
}

.mt-0_5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1_25 {
  margin-top: 1.25rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-0_5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

/* -------------------------- */
/* $GRID */
/* -------------------------- */
.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.grid-2row {
  display: grid;
  grid-template-rows: 1fr auto;
}

/* -------------------------- */
/* $COMPONENTS */
/* -------------------------- */

.box-icon {
  width: 50px;
  height: 100%;
  background-color: var(--blue-500);
  color: var(--white);
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.button {
  padding: 0.7em 2em;
  width: 100%;
  font-family: var(--roboto-medium);
  text-align: center;
  color: var(--blue-900);
}

.button--only-letter {
  padding: 0.7em 1em;
  width: max-content;
}

.button--contained {
  color: var(--white);
  background-color: var(--blue-900);
  border: 1px solid var(--blue-900);
  border-radius: 0.5rem;
}

.button--regular {
  border: 1px solid var(--blue-900);
  border-radius: 0.5rem;
}

.button--disabled {
  color: var(--gray-300);
  background-color: white;
}

.input--border-bottom {
  padding: 0.25rem;
  width: 100%;
  border-bottom: 1px solid var(--blue-900);
  transition: all 0.3s ease;
}

.input-box {
  position: relative;
}

.input--label {
  position: absolute;
  bottom: 6px;
  left: 5px;
  color: var(--gray-500);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input--text-small {
  font-size: 0.875rem;
}

input:focus ~ input--label,
input[type="text"]:not(:placeholder-shown) ~ .input--label,
input[type="password"]:not(:placeholder-shown) ~ .input--label {
  transform: translateY(-22px);
}

input[type="text"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown) {
  margin-top: 1rem;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 2.5rem;
}

.avatar__img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50px;
}

.shadow-effect:hover {
  background-color: var(--blue-trans-04);
}

.shadow-effect--radius:hover {
  border-radius: 50px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.is--open {
  display: flex;
}

.modal-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 600px;
  padding: 1rem 1rem 0;
  overflow-y: auto;
  background-color: white;
  transform: translateX(-50%);
}

.modal-task__new-task {
  width: 100%;
  min-height: 168px;
  max-height: 500px;
  padding-bottom: 3.5rem;
}

.relative {
  position: relative;
}

.dropdown-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 600px;
  min-height: 100vh;
  z-index: 2;
  transform: translateX(-50%);
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 250px;
  width: max-content;
  background-color: var(--white);
  box-shadow: 0px 3px 6px 2px rgba(68, 66, 66, 0.1);
  overflow: hidden;
  z-index: 1;
  transform: translateX(-8%);
  cursor: pointer;
}

.dropdown-toolsTask {
  top: 112px;
}

.dropdown-avatar {
  top: 50px;
}

.menu-item {
  height: 50px;
  transition: background 0.5s ease;
}

.menu-item:hover {
  background-color: var(--blue-200);
}

.react-datepicker__input-container {
  display: none;
}

.date-text {
  width: max-content;
  padding: 0.2rem 0.9rem;
  border: 1.5px solid var(--gray-500);
  border-radius: 50px;
  font-family: var(--roboto-medium);
}

.date-text::first-letter {
  text-transform: uppercase;
}

.date-text__disable {
  border-color: var(--gray-300);
}

/* -------------------------- */
/* $BREAKPOINT */
/* -------------------------- */

@media screen and (min-width: 37.5em) {
  .sm-block-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sm-align-center-box {
    display: flex;
    justify-content: center;
  }

  .sm-w-08 {
    width: 80%;
  }

  .dropdown {
    min-width: 320px;
  }
}
